/*  ~~~~~~~ GENERAL ~~~~~~~ */

body * {
    transition: all 0.5s;
}

.container {
    max-width: 900px;
}

/*  ~~~~~~~~~~~~~ */



/*  ~~~~~~~ HEADER ~~~~~~~ */

#logo-container {
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-container img {
    /* font-weight: 300; */
    max-width: 40px;
    min-height: 40px;
    margin-right: 20px;
}

/*  ~~~~~~~~~~~~~ */



/*  ~~~~~~~ HEADINGS ~~~~~~~ */

.flex-container {
    display: flex;
    align-items: baseline;
}

span.side-text {
    color: #C4A69E;
    margin-left: 15px;
}

/*  ~~~~~~~~~~~~~ */



/*  ~~~~~~~ TASKS SECTIONS ~~~~~~~ */

.collection {
    border: none;
    display: flex;
    flex-direction: column;
}

[id^='todo-list'] {
	min-height: 65px;
}

#todo-list:empty:after {
    content: 'Add some tasks...';
    width: 100%;
    display: block;
    text-align: left;
    font-size: 18px;
    margin: 15px 0 0;
}

#todo-list-done:empty:after {
    content: 'Complete some tasks...';
    width: 100%;
    display: block;
    text-align: left;
    font-size: 18px;
    margin: 15px 0 0;
}

        /*  ~~~~~~~ ITEMS ~~~~~~~ */

        .collection-item {
            cursor: pointer;
        }

        .item-text {
            font-size: 20px;
        }

        .item {
            min-height: 34px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .todo-list {
            border: 1px solid #4DB6AC !important;
            border-radius: 5px;
            margin-bottom: 5px !important;
        }

        .todo-list-done {
            transform: translateX(0);
            border: 1px solid #C4A69E !important;
            border-radius: 5px;
            margin-bottom: 5px !important;
        }

        .todo-list:hover {
            background-color: rgba(158, 158, 158, 0.3);
        }

        .todo-list-done-text {
            position: relative;
            text-decoration: line-through;
        }

        /*  ~~~~~~~~~~~~~ */

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/*  ~~~~~~~ BUTTONS ~~~~~~~ */

.btn {
    font-weight: 500;
}

.todo-list-done-btn {
	display: none;
}

/*  ~~~~~~~~~~~~~ */



/*  ~~~~~~~ ANIMATION~~~~~~~ */

.out {
    transform: translateX(110%);
    transition: transform 0.5s;
}

.in {
    transform: translateX(-110%);
}

/*  ~~~~~~~~~~~~~ */
